.carousel {
    @mixin hover {
        .carouselControls {
            opacity: 1;
        }
    }
    padding-left: 3rem;
    padding-right: 3rem;
}

.carouselControls {
    transition: opacity 150ms ease;
    opacity: 0.2;
    /* width: 600px; */
}

.carouselIndicator {
    width: 4px;
    height: 4px;
    transition: width 250ms ease;

    &[data-active] {
        width: 16px;
    }
}
